@import "./fonts/fira-code.css";
@import "./fonts/lxgwwenkai-regular.css";
@import "./fonts/lxgwwenkaimono-regular.css";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark, .dark *, [data-theme=dark], [data-theme=dark] *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-scrollbar-track: var(--scrollbar-track);
	--color-scrollbar-thumb: var(--scrollbar-thumb);
	--color-scrollbar-corner: var(--scrollbar-corner);
}

:root {
	--radius: 0.625rem;
	--background: oklch(100% 0 0deg);
	--foreground: oklch(14.1% 0.005 285.823deg);
	--card: oklch(100% 0 0deg);
	--card-foreground: oklch(14.1% 0.005 285.823deg);
	--popover: oklch(100% 0 0deg);
	--popover-foreground: oklch(14.1% 0.005 285.823deg);
	--primary: oklch(21% 0.006 285.885deg);
	--primary-foreground: oklch(98.5% 0 0deg);
	--secondary: oklch(96.7% 0.001 286.375deg);
	--secondary-foreground: oklch(21% 0.006 285.885deg);
	--muted: oklch(96.7% 0.001 286.375deg);
	--muted-foreground: oklch(55.2% 0.016 285.938deg);
	--accent: oklch(96.7% 0.001 286.375deg);
	--accent-foreground: oklch(21% 0.006 285.885deg);
	--destructive: oklch(57.7% 0.245 27.325deg);
	--border: oklch(92% 0.004 286.32deg);
	--input: oklch(92% 0.004 286.32deg);
	--ring: oklch(70.5% 0.015 286.067deg);
	--chart-1: oklch(64.6% 0.222 41.116deg);
	--chart-2: oklch(60% 0.118 184.704deg);
	--chart-3: oklch(39.8% 0.07 227.392deg);
	--chart-4: oklch(82.8% 0.189 84.429deg);
	--chart-5: oklch(76.9% 0.188 70.08deg);
	--sidebar: oklch(98.5% 0 0deg);
	--sidebar-foreground: oklch(14.1% 0.005 285.823deg);
	--sidebar-primary: oklch(21% 0.006 285.885deg);
	--sidebar-primary-foreground: oklch(98.5% 0 0deg);
	--sidebar-accent: oklch(96.7% 0.001 286.375deg);
	--sidebar-accent-foreground: oklch(21% 0.006 285.885deg);
	--sidebar-border: oklch(92% 0.004 286.32deg);
	--sidebar-ring: oklch(70.5% 0.015 286.067deg);
	--scrollbar-size: 0.35rem;
	--scrollbar-track: oklch(96.7% 0.003 264.542deg);
	--scrollbar-thumb: oklch(87.2% 0.01 258.338deg);
	--scrollbar-corner: oklch(96.7% 0.003 264.542deg);
}

.dark {
	--background: oklch(20.1% 0.005 285.823deg);
	--foreground: oklch(98.5% 0 0deg);
	--card: oklch(21% 0.006 285.885deg);
	--card-foreground: oklch(98.5% 0 0deg);
	--popover: oklch(21% 0.006 285.885deg);
	--popover-foreground: oklch(98.5% 0 0deg);
	--primary: oklch(92% 0.004 286.32deg);
	--primary-foreground: oklch(21% 0.006 285.885deg);
	--secondary: oklch(27.4% 0.006 286.033deg);
	--secondary-foreground: oklch(98.5% 0 0deg);
	--muted: oklch(27.4% 0.006 286.033deg);
	--muted-foreground: oklch(70.5% 0.015 286.067deg);
	--accent: oklch(27.4% 0.006 286.033deg);
	--accent-foreground: oklch(98.5% 0 0deg);
	--destructive: oklch(70.4% 0.191 22.216deg);
	--border: oklch(100% 0 0deg / 10%);
	--input: oklch(100% 0 0deg / 15%);
	--ring: oklch(55.2% 0.016 285.938deg);
	--chart-1: oklch(48.8% 0.243 264.376deg);
	--chart-2: oklch(69.6% 0.17 162.48deg);
	--chart-3: oklch(76.9% 0.188 70.08deg);
	--chart-4: oklch(62.7% 0.265 303.9deg);
	--chart-5: oklch(64.5% 0.246 16.439deg);
	--sidebar: oklch(21% 0.006 285.885deg);
	--sidebar-foreground: oklch(98.5% 0 0deg);
	--sidebar-primary: oklch(48.8% 0.243 264.376deg);
	--sidebar-primary-foreground: oklch(98.5% 0 0deg);
	--sidebar-accent: oklch(27.4% 0.006 286.033deg);
	--sidebar-accent-foreground: oklch(98.5% 0 0deg);
	--sidebar-border: oklch(100% 0 0deg / 10%);
	--sidebar-ring: oklch(55.2% 0.016 285.938deg);
	--scrollbar-size: 0.35rem;
	--scrollbar-track: oklch(27.4% 0.006 286.033deg);
	--scrollbar-thumb: oklch(44.2% 0.017 285.786deg);
	--scrollbar-corner: oklch(27.4% 0.006 286.033deg);
}

@theme {
	/* 默认字体 */
	--font-base:
		-apple-system, blinkmacsystemfont, tahoma, arial, "Hiragino Sans GB", "Microsoft YaHei",
		"WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";

	/* 霞鹜文楷字体 */
	--font-lxgw:
		"LXGW WenKai", "楷体", "STKaiti", -apple-system, blinkmacsystemfont, tahoma, arial,
		"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* 霞鹜文楷等宽字体 */
	--font-lxgw-mono:
		"LXGW WenKai Mono", "楷体", "STKaiti", -apple-system, blinkmacsystemfont, tahoma, arial,
		"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* 默认代码字体 */
	--font-code:
		"Fira Code", -apple-system, blinkmacsystemfont, tahoma, arial, "Hiragino Sans GB",
		"Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";

	/** 谷歌字体 */
	--font-geist-sans: "Geist", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, sans-serif;

	/** 谷歌等宽字体 */
	--font-geist-mono:
		"Geist Mono", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, sans-serif;

	/** animation */
	--animate-waving-hand: wave 2s linear infinite;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	html {
		font-size: 100%;
	}

	/* 以下为自定义样式 */

	html,
	body {
		@apply font-lxgw h-[100vh] w-full p-0 m-0;
	}

	body {
		@apply bg-background text-foreground;
	}

	body {
		@apply text-lg;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	h5 {
		@apply text-sm;
	}

	h6 {
		@apply text-xs;
	}

	small {
		@apply text-sm text-neutral-700 dark:text-neutral-400;
	}

	button,
	[role="button"] {
		cursor: pointer;
	}

	:disabled {
		cursor: default;
	}

	* {
		scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
		scrollbar-width: auto;
	}

	@supports selector(::-webkit-scrollbar) {
		* {
			scrollbar-color: initial;
			scrollbar-width: initial;
		}

		::-webkit-scrollbar {
			width: var(--scrollbar-size);
			height: var(--scrollbar-size);
		}

		::-webkit-scrollbar-track {
			background: var(--scrollbar-track);
		}

		::-webkit-scrollbar-thumb {
			background: var(--scrollbar-thumb);
			border-radius: var(--radius-sm);
		}

		::-webkit-scrollbar-corner {
			background: var(--scrollbar-corner);
		}
	}
}

@utility page-container {
	@apply max-w-[90%] md:max-w-[80%] h-screen mx-auto;
}

@utility page-item {
	@apply flex flex-auto flex-col max-w-[100%] items-center;
}

@keyframes wave {
	0% {
		transform: rotate(0);
	}

	10% {
		transform: rotate(14deg);
	}

	20% {
		transform: rotate(-8deg);
	}

	30% {
		transform: rotate(14deg);
	}

	40% {
		transform: rotate(-4deg);
	}

	50% {
		transform: rotate(10deg);
	}

	60% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(0);
	}
}
