@import "tailwindcss";
@import "tw-animate-css";
@import "./tailwind/base.css";
@import "./tailwind/theme.css";
@import "./tailwind/utilities.css";
@import "./tailwind/shadcn.css";

@custom-variant dark (&:is(.dark *));
