@font-face {
	font-family: "Geist";
	font-weight: 400 700;
	src: url("https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap");
	font-display: swap;
}

@font-face {
	font-family: "Geist Mono";
	font-weight: 400 700;
	src: url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;500;600;700&display=swap");
	font-display: swap;
}
