@reference "#globals.css";

.navigate {
	@apply flex justify-start items-center rounded-xl gap-2 py-2 px-4 text-neutral-700 dark:text-neutral-300;
	@apply transition duration-300 ease-in-out hover:bg-neutral-200 hover:dark:bg-neutral-700 hover:scale-110;
}

.icon {
	@apply transition duration-300 ease-in-out;
}
